extends layout

block content
  h1 Lumi's Controller Emporium

  p The shop has the following controllers:

  ul
    li #[strong Controllers:] !{controller_count}
    li #[strong Controller Types:] !{controllertype_count}
    li #[strong Designers:] !{designer_count}
    li #[strong Controller Instances:] !{controllerinstance_count}
    li #[strong Available Controller Instances:] !{controllerinstance_available_count}

