extends layout

block content
  h1 Lumi's Controller Emporium

  p The shop has the following controllers:

  ul
    li #[strong Controllers:] !{controller_count}
    li #[strong Controller Types:] !{numControllerTypes}
    li #[strong Designers:] !{numDesigners}
    li #[strong Controller Instances:] !{numControllerInstances}
    li #[strong Available Controller Instances:] !{availableConrollerInstances}

